body {
    background-color: black;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    height: 150px;
    background-color: rgb(0, 128, 0);
    font-family: fantasy;
}

header > img {
    height: 100px;
}

ul {
    display: flex;
    
    list-style-type: none;
}

main {
    border: white solid 1px;
}

