body {
    background-color: black;
    color: white;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    width: 70%;
    height: 150px;
    background-color: rgb(0, 128, 0);
    font-family: fantasy;
}

header > img {
    height: 100px;
}

#all-characters {
    display: flex;
    width: 67%;
    margin: auto;
    list-style-type: none;
    overflow-x: scroll;
}

main {
    border: white solid 1px;
    width: 70%;
    margin: auto;
}


