body{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
header{
    background-color: green;
    display: flex;
    justify-content: space-between;
    font-family: fantasy;
    height: 150px;
    width: 70%;
    padding: 0 30px;
    margin-bottom: 20px;
}
main{
    display: none;
    width: 70%;
    display: flex;
}
header > img{
    height: 100px;
}
#all-characters{
    display: flex;
    overflow-x: scroll;
    width: 70%;
    margin: auto;
}
input{
    width: 380px;
}
