header {
    background-color: green;
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
    align-items: center;
    height: 150px;
}

h1 {
    font-size: 50px;
    color: white;
    font-family: fantasy;
}

body {
    background-color: black;
    color: white; 

}

img {
    height: 100px;
}

#all-characters {
    list-style: none;
    display: flex;
    width: 70%;
    margin: auto;
    padding-inline-start: 0px;
    justify-content: space-between;
    overflow-x: scroll;

}


#all-characters:hover {
    cursor: pointer;
}
p {
        text-align: center;
}
#photo-display {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.photo-img {
    height: 150px;
    margin: auto;
}

#character-info {
    width: 50%;
    margin: auto;
    text-align: center;
    height: fit-content;
}

#character-info h3 {
    font-size: 25px;
}

#character-info img {
    height: 300px;
}
#character-comments-section {
    width: 50%;
    margin: auto;
    margin-top: 15px;
    text-align: center;
}

#character-comments-ul {
    font-family: sans-serif;
    font-size: 20px;
}

label {
    font-family: sans-serif;
    font-size: 15px;
}

input[type="text"] {
    width: 380px;
}

input[type="submit"] {
    width: 160px;
}

input[type="submit"]:hover {
    cursor: pointer;
}

main {
    border: 5px solid white;
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    display: none;
}

form {
    padding-right: 55px;
}

li {
    text-align: left;
}

@media only screen and (max-width: 1150px) {
    main {
        background-color: red;
        flex-direction: column;
        align-items: center;
    }

    form {
        width: fit-content;
    }
}