body {
  font-family: "Pangolin", cursive;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: green;
  width: 70%;
  height: 150px;
  margin-bottom: 20px;
}

header h1 {
  color: white;
  font-size: 65px;
  font-family: fantasy;
}

header img {
  height: 100px;
}

main {
  width: 70%;
  display: flex;
  align-items: center;
  flex-direction: row;
  /* visibility: hidden; */
  background-color: red;
  border: 6px solid white;
  flex-direction: column;
  align-items: center;
  height: 600px;
  width: 500px;
}

section {
  width: 70%;
}

p {
  color: white;
}

ul {
  display: flex;
  overflow: auto;
  white-space: nowrap;
  list-style: none;
}

input[type="text"] {
  width: 380px;
}

#allCharacters {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 70%;
  overflow-x: scroll;
}
