body {
	font-family: "Pangolin", cursive;
	background-color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

header {
	background-color: green;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 70%;
	height: 150px;
	margin-bottom: 20px;
}
header h1 {
	font-size: 65px;
}

header img {
	height: 100px;
}

main {
    height: 800px;
	width: 70%;
	display: flex;
    flex-direction: column;
	align-items: center;
	justify-content: center;
    visibility: hidden;
    background-color: red;
    border: 6px solid white;
}

p {
	color: white;
}

section {
    width: 70%;
}

ul {
	display: flex;
	overflow: auto;
	white-space: nowrap;
}


